*{
    text-align: center;
    background-color:  hsl(0, 0%, 12%);
    
}
section{
    width: 30%;
    margin: 5% auto;
    background: hsl(0, 0%, 20%);
    padding: 1.5rem;
    border-radius: 3rem;
}
/*.container{
    width: 30%;
    margin:5% auto ;
    background-color: hsl(0,0%, 12%);
    color: white;
    margin: 20px;
    text-align: center;*/


.github{
    padding: 5px 100px;
    color: white;
    border-radius: 8%;
    cursor: pointer;
}
.ig{
    padding: 5px 92px;
    color: white;
    border-radius: 8%;
}
.tt{ padding: 5px 100px;
    color: white;
    border-radius: 8%;

}
.li{padding: 5px 95px;
color: white;
border-radius: 8%;
}
.fm{
    padding: 5px 75px;
    color: white;
    border-radius: 8%;
}
.img{
    border-radius: 100%;
}
.name{
    color: white;
    font-weight: 100;
    
}
.location{
    color: yellow;
}
.intro{
    color: white;
}