*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    margin-left: 25%;
    margin-right: 25%;
    overflow-x: hidden;
}
.entire{
    margin-right: 25%; 
    margin-left: 25%;
    display: grid;
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;

 } 
.parentcontainer{
    margin-left: 25%;
    margin-right: 25%;
    background-image: url(./images/desktop/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 50%;
    grid-column: span 2;

}
body{
    width: 100%;
    text-align: center;
    justify-content: center;
}

:root{
    --Softred: hsl(7, 99%, 70%);
--Yellow: hsl(51, 100%, 49%);
--Darkdesaturatedcyan (graphic design text): hsl(167, 40%, 24%);
--Darkblue(photography text): hsl(198, 62%, 26%);
--Darkmoderatecyan(footer): hsl(168, 34%, 41%);
--Verydarkdesaturated blue: hsl(212, 27%, 19%);
--Verydarkgrayishblue: hsl(213, 9%, 39%);
--Darkgrayishblue: hsl(232, 10%, 55%);
--Grayishblue: hsl(210, 4%, 67%);
--White: hsl(0, 0%, 100%);
}
.container1{
    background-color:var(--White);
    width: 50%;
    height: 100px;
    margin-right: 400px;
    font-size: xx-small;
    
}
.container2{
    background-image: url(./images/desktop/image-transform.jpg);
    margin-left:-100px ;
    background-size: 100%;
    width:50%;
    background-repeat: no-repeat;
    height: 100px;
    background-size: 100%;
    
    

}
.container3{
    background: url(./images/desktop/image-stand-out.jpg);
    size: 100%;
    width: 50%;
}
.container4{

}
.container5{
    background-image: url(./images/desktop/image-graphic-design.jpg);

}
.container6{
background-image: url(./images/desktop/image-photography.jpg);
}